<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Title</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	</head>
	<body>
		<script content="application/javascript" src="{{ url_for('static', filename='js/plotly-v1.51.3.min.js') }}"></script>
		<script content="application/javascript" src="{{ url_for('static', filename='js/plotting.js') }}"></script>

		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				RetroStats
			</a>
		</nav>

		<div id='my_form'>
			<label for="chart_sel_div">Chart Type</label>
			<div class="form-group" id="chart_sel_div">
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="chart_selection" id="chart_sel1" value="bar" checked>
					<label class="custom-control-label" for="chart_sel1">Bar</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="chart_selection" id="chart_sel2" value="sched">
					<label class="custom-control-label" for="chart_sel2">Weekly Activity</label>
				</div>
			</div>
			<div class="form-group">
				<label for="sys">Systems</label>
				<input type="text" class="form-control form-control-sm" id="sys">
			</div>
			<div class="form-group">
				<label for="sysex">Exclude Systems</label>
				<input type="text" class="form-control form-control-sm" id="sysex" value="kodi">
			</div>
			<div class="form-group">
				<label for="skip">Skip Shorter Than</label>
				<input type="number" class="form-control form-control-sm" min=0 id="skip" name="skip_shorter_than" value=120>
			</div>
			<div class="form-group">
				<label for="lkbk">Lookback</label>
				<input type="number" class="form-control form-control-sm" min=0 id="lkbk" name="lookback" value=0>
			</div>
			<div class="form-group">
				<label for="num_entries">Number of Entries</label>
				<input type="number" class="form-control form-control-sm" min=1 id="num_entries" name="num_entries" value=25>
			</div>
			<div class="form-group">
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="category" id='chart_sel_total' value="total" checked>
					<label class="custom-control-label" for="chart_sel_total"> Total </label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="category" id='chart_sel_times' value="times">
					<label class="custom-control-label" for="chart_sel_times"> Times </label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="category" id='chart_sel_average' value="average">
					<label class="custom-control-label" for="chart_sel_average"> Mean </label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input class="custom-control-input" type="radio" name="category" id='chart_sel_median' value="median">
					<label class="custom-control-label" for="chart_sel_median"> Median </label>
				</div>
				<button type="button" class="btn btn-primary" onclick="on_update(document.getElementById('chart'))">Update plot</button>
			</div>
		</div>
		<div id="chart"></div>
		<script>
			on_update(document.getElementById('chart'))
		</script>
	</body>
</html>
